
.content-title {
    padding: 1em 0em 1em 5em;
    letter-spacing: 0.5em;
    width: min-content;
    margin:0%;
}

.content-boxs{
    display: flex;
    flex-direction: column;
}

#text-box{
    margin: 0em 0em 1.0em 14em;
    display: flex;
    color: #1f1f1f;
    font-size: 1em;
    font-family: 'Glacial_Regular', serif;
    cursor: text;
}

.link-github{
    height: 4em;
    width: 50em;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 4em;
    margin: 0em 0em 1.0em 14em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.link-github a{
    font-size: 1.5em;
    font-family: 'Lemon';
    color:#1f1f1f;
    text-decoration: none;
    
}


.content-fluid{
    display: flex;
    justify-content: center;
    margin: 1em 0em 0em 0em;
}


@media screen and (max-width: 850px) {

    .content-title{
        display: flex;
        justify-content: center;
        padding: 2em 0em 1em 0em;
        margin: 0%;
        font-size: 1.5em;
       
    }

    .content-boxs{
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #box_1{
        font-family: 'Glacial_Regular', serif;
        text-align: justify;
        height: 4em;
        font-size: 1.2em;
        width: 12em;
        margin: 0em 0em 9em 1em;
        box-sizing: border-box;
    }
    
}

@media screen and (min-width: 1850px) {
    .img-box-pc {
        width: 30em;
        height: 20em;
        
    }
    
    .img-box-mobile {
        width: 30%;
    }
}

