
.content-title {
    padding: 1em 0em 1em 5em;
    letter-spacing: 0.5em;
    width: min-content;
    margin:0%;
}

.content-boxs{
    display: flex;
    flex-direction: column;
}

#box_1{
    display: flex;
    flex-wrap: wrap;
    margin: 0em 0em 3em 14em;
    height: 5em;
    width: 45em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #1f1f1f;
    font-size: 1em;
    font-family: 'Glacial_Regular', serif;
    cursor: text;
}

.link-github{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 25em;
    background-color: #C2D6E0;
    border-radius: 1em;
}

.link-github a{
    font-size: 1.5em;
    font-family: 'Glacial_Regular', serif;
    color:#1f1f1f;
    cursor: pointer;
}

.content-fluid{
    display: flex;
    justify-content: center;
    margin: 0em 0em 10em 0em;
}

.carousel-control-prev-icon{
    color: #000;
}

@media screen and (max-width: 850px) {

    .content-title{
        display: flex;
        justify-content: center;
        padding: 2em 0em 1em 0em;
        margin: 0%;
        font-size: 1.5em;
       
    }

    .content-boxs{
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #box_1{
        font-family: 'Glacial_Regular', serif;
        text-align: justify;
        height: 4em;
        font-size: 1.2em;
        width: 12em;
        margin: 0em 0em 9em 1em;
        box-sizing: border-box;
    }
    
}

@media screen and (min-width: 1850px) {
    .img-box-pc {
        width: 30em;
        height: 20em;
        
    }
    
    .img-box-mobile {
        width: 30%;
    }
}

