<section class="content-container">
    <div id = "work" class="work">            
        <div class="content-boxs">
            <h2 class="content-title">work</h2>
            <p id = "text-box">
              Abaixo algumas imagens dos trabalhos que desenvolvi ao longo da minha trajetória de estudos. Para mais detalhes acesse:
            </p>
            <div class = "link-github" ><a href="https://github.com/TelmiAdame" target="_blank">Github Telmi</a></div>
        </div> 
        <div class = content-fluid>
            <div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../../assets/image/site-empresa.PNG" class="d-block w-100" style="height:35em;" alt="iimg-site-empresa">
                    <div class="carousel-caption d-none d-md-block">
                      <h5> </h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../assets/image/projeto-loja.PNG" class="d-block w-100" style="height:35em;" alt="img-projeto-loja">
                    <div class="carousel-caption d-none d-md-block">
                      <h5></h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../assets/image/mobile-first.PNG" class="d-block w-100" style="height:35em;" alt="img-site-empresa">
                    <div class="carousel-caption d-none d-md-block">
                      <h5></h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../assets/image/img.PNG" class="d-block w-100"  style="height:35em;" alt="img-mobile-first">
                    <div class="carousel-caption d-none d-md-block">
                      <h5></h5>
                      <p></p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>    
</section>
