
.content-title {
    padding: 1em 0em 1em 5em;
    letter-spacing: 0.5em;
    margin:0%;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.content-fluid{
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon{
    color: #000;
}

@media screen and (max-width: 850px) {

    .content-title{
        padding: 2em 0em 2em 2em;
        margin:0%;
        font-size: 1.5em;
    }

    .content-icons{
        display: none;  
    }

    .content-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: opacity(0.5) blur(1.3px);
        margin:2em;
    }

    #content-box-mobile{
        display: none;
    }

    .img-box-pc {
        width: 100%;
    }
    .img-box-mobile {
        display: flex;
        width: 40%;
        margin: 4em 0em 0em 0em;
        
    }
}

@media screen and (min-width: 1850px) {
    .img-box-pc {
        width: 30em;
        height: 20em;
        
    }
    
    .img-box-mobile {
        width: 30%;
    }
}


//MODAL 

.modal-background {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000;
    opacity: 0.75;

    z-index: 900;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    overflow: auto;
}

.modal-body {
    padding: 20px;
    background: #fff;

    margin: 40px;
}

section.modal-open {
    overflow: hidden;
}

