<header id="home" class="header-container">
  <div class="container-head">
    <div class="logo-portfolio">
      <h3>Portfolio</h3>
    </div>
    <div>
      <app-hamburguer></app-hamburguer>
    </div>
  </div>
  <div></div>
  <div class="coitaner-banner">
    <div class="banner-content">
      <h1>telmi</h1>
      <h2>developer</h2>
    </div>
    <div class="banner-content">
      <div class="banner-content-img">
        <img
          src="../../../assets/image/self-TelmiAdame.png"
          alt="Foto Telmi Adame"
        />
        <div class="circul"></div>
      </div>
    </div>
  </div>
</header>
