<div id ="contact" class = "contact">
  <footer >
    <div class = "h1"><h1>Contato:</h1></div>
    <div class = "container-contact">
      <img src= "../../../assets/image/o-email.png" alt="icone e-mail feito por Pixel perfect, www.flaticon.com" >
      <p>e-mail: telmiarquit@hotmail.com</p>
      <img src= "../../../assets/image/telefone.png" alt="icone e-mail feito por Vector Stall, www.flaticon.com" >
      <p>tel: (27) 9 9608 9986</p>
      <div class="midia">
        <a target="_blank" href="https://br.linkedin.com/in/telmiadame">
          <img src="../../../assets/image/logo-linkedin.png" alt="Logo Linkedin"/>
          <p>Linkedin</p>
        </a>
        <a target="_blank" href="https://github.com/TelmiAdame">
         <img src="../../../assets/image/logo-github.png" alt="Logo GitHub" />
         <p>GitHub</p>
        </a>
      </div>
      <p>By Telmi Adame</p>
    </div>
  </footer>
</div>
