
footer{
    height: 20em;
    padding-left: 3em;
    padding-top: 3em;
    font-family: 'Glacial_Regular', serif;
    display: flex;
    background-image: linear-gradient(#c9d6ff, #e2e2e2);
    
}
.h1{
    display: flex;
    flex-direction: row;
    width: min-content;
}

h1{
    font-family: 'Lemon';
    font-size: 5em;
    display: flex;
    color: azure;
}
.container-contact{
    display: flex;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}


footer a{
    text-decoration: none;
    display: flex;
    justify-items: baseline;
    padding-left: 1em;
    color: rgb(59, 59, 59);
}

footer p {
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.3em;
    color: rgb(39, 39, 39);
}

.midia {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(121, 121, 121);
    border-style: hidden hidden solid hidden;
    padding: 3em 0em 0em 0em;
}

.midia img{
    cursor: pointer;
    height: 1.1em;
}


@media screen and (max-width: 850px) {

    footer{
        display: flex;
        flex-direction: column;
       
        height: 35em;
    }
    
    footer p {
        font-size: 0.85em;
        margin: 0;
        padding: 1em;
    }
    .midia img{
        width: 1em;
    }

    h1{
        font-size: 3em;
    }
}