<div>
  <footer id="contact" class="footer">
    <p>By Telmi Adame</p>
    <div class="footer-contact">
      <a href="https://br.linkedin.com/in/telmiadame">
        <p>
          <img
            src="../../../assets/image/logo-linkedin.png"
            alt="Logo Linkedin"
          />
          Linkedin
        </p>
      </a>
      <a href="https://github.com/TelmiAdame">
        <p>
          <img src="../../../assets/image/logo-github.png" alt="Logo GitHub" />
          GitHub
        </p>
      </a>
    </div>
  </footer>
</div>
