
footer{
    background-color: #C2D6E0;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    padding-left: 3em;
}

footer a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-items: baseline;
}

footer p {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0px 10px 0px 8px;
}

.footer-contact {
    display: flex;
    padding-right: 1em;
    cursor: pointer;
}

.footer-contact img{
    cursor: pointer;
    height: 1.1em;
}


@media screen and (max-width: 850px) {
    
    footer p {
        font-size: 0.85em;
        margin: 0;
        padding: 1em;
    }
    .footer-contact img{
        width: 1em;
    }
}