.container-burguer{
    margin: 1em 2em 0em 0em;
}

.menu-bubble{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1); /*  método utilizado usando o gráfico de tempo de animação - dúdidas ainda sobre essa ferramenta */
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bubble:hover {
    box-shadow: 0 0 0 20px #E1ECE5, 0 0 0 20px #E1ECE5; /* 8px de raio */
}
.burguer {
    position: relative; 
    display: block;
    background: #000;
    border-radius: 30%;
    width: 2.1em;
    height: 0.26em;
    transition: 0.5s ease-in-out;
}

/* Criando as duas outras linhas do hamburguer */
.burguer:before,
.burguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;        /* O width e height precisa ser 100%, porque a refrência é o burguer */
    height: 100%;
    position: absolute; /* absolutos em relação ao hamburguer */
    transition: 0.5s ease-in-out;
}
  
.burguer:before {
    top: -10px;
    border-radius: 30%;
}  
.burguer:after {
    bottom: -10px;
    border-radius: 30%;
}
  
input {
    display: none;
}
input:checked ~ label .burguer {
    transform: rotate(45deg);
}
  
input:checked ~ label .burguer:before {
    transform: rotate(90deg);
    top: 0;
}
  
input:checked ~ label .burguer:after {
    transform: rotate(90deg);
    bottom: 0;
}